
.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    overflow: hidden;
  }
  .card2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 65px;
    background: #fafafb;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400.36px;
    height: 454.96px;
    background: #fafafb;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
  }

  .title {
    /* Upload your image */
  
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    letter-spacing: -0.035em;
    color: #4f4f4f;
  }

  .container-error-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    .title {
      margin-top: 0;
    }
  }
  
  .container-success-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem; 
    .title {
      margin-top: 0;
    }
  }

  .container-title {
    display: flex;
    align-items: flex-start;
    min-height: 20%;
  }

  
.container-dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    min-height: 30%;
  
    form {
      height: 75%;
      width: 100%;
    }
  }

  .dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed #97bef4;
    box-sizing: border-box;
    border-radius: 12px;
    width: 100%;
    height: 85%;
    background-color:#F6F8FB;;
  
    .image {
      width: 30%;
      margin-top: 5%;
       padding-bottom: 20px;
       padding-top: 30px;
    }
  }

  .dropzone2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px dashed #97bef4;
     box-sizing: border-box;
    // border-radius: 12px;
     width: 100%;
     height: 85%;
  
    .image {

        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
        border-radius: 12px;
        padding-bottom: 20px;

    }
  }

 

  .dropzone-message {
    /* Drag & Drop your image here */
  
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.035em;
   
    color: #bdbdbd;
  }


.bluebutton {
    background: #2F80ED;
    border-radius: 8px;
    border: none;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    cursor: pointer;
    box-shadow: 0px 4px 12px rgba(47, 128, 237, 0.1);
    transition: 0.2s;
}

.bluebutton:hover {
    box-shadow: 0px 4px 12px rgba(47, 128, 237, 0.3);
}

input[type="text"] {
    background: #F6F8FB;
    border: 1px solid #E0E0E0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
}

.link {
  text-overflow: ellipsis;
  max-width: 70%;
  height: 1em;
  white-space: nowrap;
  font-size: 10px;
  padding-bottom: 10px;
  padding-top: 20px;

}


.check-icon {
  background-color: #219653;
  width: 30px;
  height: 30px;
  border-radius: 100%;

}

.error{
  background-color: #cc0000;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  color:white
}